In [1]:
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline

## Central Limit Theorem

In [ ]:
x=np.random.beta(1,5,size=(200000,))

In [ ]:
sns.distplot(x)

In [ ]:
k=[]

for i in range(10000):
    j=np.random.choice(x,1000,replace=False)
    k.append(np.mean(j))
    if i%1000==0:
        print(i)

In [ ]:
sns.distplot(k)

In [ ]:
m=np.random.uniform(size=20000)
t=np.random.uniform(size=20000)

In [ ]:
b=np.ones_like(t)-1.332*t

In [ ]:
b

In [ ]:
x=np.where(m>0.5,4+np.sqrt(b),4-np.sqrt(b))

In [ ]:
x=np.where(np.isnan(x),0,x)

In [ ]:
sns.distplot(x)

In [ ]:
k=[]

for i in range(10000):
    j=np.random.choice(x,1000,replace=False)
    k.append(np.mean(j))
    if i%1000==0:
        print(i)

In [ ]:
sns.distplot(k)

In [ ]:
x.mean(),np.array(k).mean()

In [ ]:
x.var()/1000,np.array(k).var()

## Single Sample T-Test

In [6]:
file=r'/home/siddarth.jha@npci.org.in/Documents/Training/Data/winequality-white.csv'
wine_data=pd.read_csv(file,delimiter=';')

In [ ]:
wine_data

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest_1samp(wine_data['fixed acidity'],popmean=6.82)

# how to do single tailed test or single sided tests

## Paired T-test

In [10]:
file=r'/home/siddarth.jha@npci.org.in/Documents/Training/Data/hsb2.sas7bdat'
data=pd.read_sas(file)

In [11]:
data

        id  female  race  ses  schtyp  prog  read  write  math  science  socst
0     70.0     0.0   4.0  1.0     1.0   1.0  57.0   52.0  41.0     47.0   57.0
1    121.0     1.0   4.0  2.0     1.0   3.0  68.0   59.0  53.0     63.0   61.0
2     86.0     0.0   4.0  3.0     1.0   1.0  44.0   33.0  54.0     58.0   31.0
3    141.0     0.0   4.0  3.0     1.0   3.0  63.0   44.0  47.0     53.0   56.0
4    172.0     0.0   4.0  2.0     1.0   2.0  47.0   52.0  57.0     53.0   61.0
..     ...     ...   ...  ...     ...   ...   ...    ...   ...      ...    ...
195   31.0     1.0   2.0  2.0     2.0   1.0  55.0   59.0  52.0     42.0   56.0
196  145.0     1.0   4.0  2.0     1.0   3.0  42.0   46.0  38.0     36.0   46.0
197  187.0     1.0   4.0  2.0     2.0   1.0  57.0   41.0  57.0     55.0   52.0
198  118.0     1.0   4.0  2.0     1.0   1.0  55.0   62.0  58.0     58.0   61.0
199  137.0     1.0   4.0  3.0     1.0   2.0  63.0   65.0  65.0     53.0   61.0

[200 rows x 11 columns]

In [ ]:
from scipy.stats import ttest_rel

In [ ]:
ttest_rel(data['read'],data['write'])

# Unpaired T-test

### Variance Test

In [ ]:
from scipy.stats import levene

In [ ]:
levene(data.loc[data['female']==1,'read'],data.loc[data['female']==0,'read'])

In [ ]:
# this means variances are equal

### now we go ahead with the test

In [ ]:
from scipy.stats import ttest_ind

In [ ]:
ttest_ind(data.loc[data['female']==1,'read'],
          data.loc[data['female']==0,'read'],
          equal_var=True)

# Anova : for more than two groups

In [ ]:
wine_data['quality'].unique()

In [ ]:
alcohol_grps=[wine_data.loc[wine_data['quality']==q,'alcohol'].values 
              
              for q in wine_data['quality'].unique() ]

In [ ]:
wine_data['quality'].value_counts()

In [ ]:
from scipy.stats import f_oneway

In [ ]:
f_oneway(*alcohol_grps)

### Pairwise comparison between groups

In [7]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [8]:
tukey = pairwise_tukeyhsd(endog=wine_data['alcohol'],     # Data
                          groups=wine_data['quality'],   # Groups
                          alpha=0.05)          # Significance level

In [9]:
tukey.summary()

# Chisq Test for categorical data

### for a single column: test for expected proportions

In [12]:
from scipy.stats import chisquare

In [22]:
k=data['race'].value_counts()

In [23]:
k

4.0    145
1.0     24
3.0     20
2.0     11
Name: race, dtype: int64

In [24]:
chisquare(k.values,[72.5,12,10,5.5])
# let me come back to you on this

Power_divergenceResult(statistic=100.0, pvalue=1.5541594313896026e-21)

### For two columns

In [25]:
from scipy.stats import chi2_contingency

In [26]:
k=pd.crosstab(data['female'],data['ses']).values

In [27]:
k

array([[15, 47, 29],
       [32, 48, 29]])

In [28]:
res=chi2_contingency(k)

In [30]:
k=pd.crosstab(data['race'],data['ses']).values

In [33]:
chi2_contingency(k)[1]

0.0050642308532138445

# Linear Regression with p-values : using stats model

In [3]:
file=r'/home/siddarth.jha@npci.org.in/Documents/Training/Data/loans data.csv'

ld=pd.read_csv(file)

In [4]:
ld.drop(['ID','Amount.Funded.By.Investors'],axis=1,
        inplace=True)

for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld[col]=ld[col].str.replace("%","")

for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld[col]=pd.to_numeric(ld[col],errors='coerce')
    

k=ld['FICO.Range'].str.split("-",expand=True)


k=k.astype(float)

ld['fico']=0.5*(k[0]+k[1])

del ld['FICO.Range']

# Notice that to apply string function on pandas data frame columns you need to str attribute
cat_cols=ld.select_dtypes(['object']).columns

cat_cols

for col in cat_cols:
    freqs=ld[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld[name]=(ld[col]==cat).astype(int)
    del ld[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership
Employment.Length

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
ld_train,ld_test=train_test_split(ld,
                                  test_size=0.2,
                                  random_state=2)

In [7]:
for col in ld_train.columns:
    if ld_train[col].isnull().sum()>0:
        ld_train.loc[ld_train[col].isnull(),
                     col]=ld_train[col].mean()



for col in ld_test.columns:
    if ld_test[col].isnull().sum()>0:
        ld_test.loc[ld_test[col].isnull(),
                    col]=ld_train[col].mean()

/home/siddarth.jha@npci.org.in/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [9]:
ld_train.reset_index(drop=True,inplace=True)
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [10]:
import statsmodels.api as sm

In [12]:
x_train_new = sm.add_constant(x_train)

/home/siddarth.jha@npci.org.in/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [13]:
x_train_new.head()

,const,Amount.Requested,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,fico,Loan.Length_36 months,Loan.Purpose_debt_consolidation,...,Employment.Length_10+ years,Employment.Length_< 1 year,Employment.Length_2 years,Employment.Length_3 years,Employment.Length_5 years,Employment.Length_4 years,Employment.Length_1 year,Employment.Length_6 years,Employment.Length_7 years,Employment.Length_8 years
0,1.0,3250.0,21.44,5000.00,12.0,20564.0,0.0,677.0,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1.0,16000.0,7.78,4166.67,6.0,4240.0,3.0,737.0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1.0,10000.0,1.69,8000.00,6.0,8974.0,0.0,797.0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,1.0,3600.0,10.00,5750.00,8.0,10766.0,2.0,672.0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,1.0,14000.0,3.47,8750.00,6.0,9035.0,1.0,682.0,1,1,...,1,0,0,0,0,0,0,0,0,0

In [14]:
mod = sm.OLS( y_train,x_train_new)

In [15]:
res = mod.fit()

In [16]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Interest.Rate   R-squared:                       0.765
Model:                            OLS   Adj. R-squared:                  0.758
Method:                 Least Squares   F-statistic:                     108.8
Date:                Fri, 06 Aug 2021   Prob (F-statistic):               0.00
Time:                        20:14:37   Log-Likelihood:                -4270.2
No. Observations:                2000   AIC:                             8658.
Df Residuals:                    1941   BIC:                             8989.
Df Model:                          58
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                              77.1575      1.138     67.774      0.000      74.925      79.390
Amount.Requested                    0.0002   7.66e-06     20.746      0.000       0.000       0.000
Debt.To.Income.Ratio               -0.0013      0.007     -0.181      0.856      -0.016       0.013
Monthly.Income                  -1.729e-05   1.39e-05     -1.240      0.215   -4.46e-05       1e-05
Open.CREDIT.Lines                  -0.0281      0.012     -2.366      0.018      -0.051      -0.005
Revolving.CREDIT.Balance        -6.116e-06   2.97e-06     -2.060      0.040   -1.19e-05   -2.94e-07
Inquiries.in.the.Last.6.Months      0.3112      0.039      7.908      0.000       0.234       0.388
fico                               -0.0878      0.001    -61.037      0.000      -0.091      -0.085
Loan.Length_36 months              -3.1859      0.128    -24.867      0.000      -3.437      -2.935
Loan.Purpose_debt_consolidation    -0.7423      0.313     -2.371      0.018      -1.356      -0.128
Loan.Purpose_credit_card           -0.8398      0.326     -2.574      0.010      -1.480      -0.200
Loan.Purpose_other                 -0.0323      0.342     -0.094      0.925      -0.704       0.639
Loan.Purpose_home_improvement      -0.9091      0.363     -2.505      0.012      -1.621      -0.197
Loan.Purpose_major_purchase        -0.4995      0.377     -1.324      0.186      -1.239       0.240
Loan.Purpose_small_business        -0.0923      0.385     -0.240      0.811      -0.848       0.664
Loan.Purpose_car                   -0.5658      0.442     -1.279      0.201      -1.433       0.302
Loan.Purpose_wedding               -0.9847      0.479     -2.055      0.040      -1.924      -0.045
Loan.Purpose_medical               -0.6008      0.516     -1.164      0.245      -1.613       0.412
Loan.Purpose_moving                 0.8411      0.531      1.584      0.113      -0.200       1.883
State_CA                           -0.4695      0.215     -2.181      0.029      -0.892      -0.047
State_NY                           -0.4039      0.236     -1.710      0.087      -0.867       0.059
State_TX                            0.2214      0.256      0.864      0.388      -0.281       0.724
State_FL                           -0.3604      0.253     -1.426      0.154      -0.856       0.135
State_IL                           -0.8124      0.293     -2.768      0.006      -1.388      -0.237
State_GA                           -0.1952      0.301     -0.648      0.517      -0.786       0.395
State_PA                           -0.5860      0.300     -1.954      0.051      -1.174       0.002
State_NJ                           -0.5774      0.300     -1.924      0.054      -1.166       0.011
State_VA                           -0.2407      0.331     -0.728      0.467      -0.889       0.408
State_MA                           -0.3800      0.331     -1.147      0.251      -1.029       0.269
State_OH                           -0.0647      0.337     -0.192      0.848      -0.726       0.596
State_MD                           -0.0337      0.331     -0.102      0.919      -0.683       0.616
State_NC                           -0.3828      0.355     -1.077      0.282      -1.080       0.314
State_CO                           -0.5280      0.358     -1.475      0.140      -1.230       0.174
State_WA                           -0.3015      0.359     -0.841      0.401      -1.005       0.402
State_CT                            0.0928      0.381      0.244      0.808      -0.654       0.840
State_AZ                            0.0485      0.394      0.123      0.902      -0.725       0.822
State_MI                           -0.2825      0.381     -0.741      0.459      -1.030       0.465
State_MN                            0.0166      0.448      0.037      0.971      -0.863       0.896
State_AL                           -0.1237      0.424     -0.292      0.770      -0.955       0.707
State_MO                           -0.4767      0.442     -1.079      0.281      -1.343       0.389
State_NV                           -0.4073      0.429     -0.950      0.342      -1.248       0.433
State_OR                            0.1694      0.475      0.357      0.721      -0.762       1.100
State_SC                           -0.2237      0.491     -0.455      0.649      -1.187       0.740
State_WI                           -0.0436      0.481     -0.091      0.928      -0.986       0.899
State_KY                           -0.1197      0.588     -0.204      0.839      -1.273       1.034
State_LA                            0.0175      0.513      0.034      0.973      -0.989       1.024
State_OK                           -0.9112      0.569     -1.601      0.109      -2.027       0.205
Home.Ownership_MORTGAGE            -0.3877      0.180     -2.153      0.031      -0.741      -0.034
Home.Ownership_RENT                -0.2288      0.178     -1.284      0.199      -0.578       0.121
Employment.Length_10+ years         0.2245      0.205      1.095      0.274      -0.178       0.626
Employment.Length_< 1 year         -0.0134      0.240     -0.056      0.955      -0.484       0.457
Employment.Length_2 years           0.1433      0.237      0.605      0.545      -0.321       0.608
Employment.Length_3 years          -0.1031      0.238     -0.432      0.666      -0.571       0.364
Employment.Length_5 years           0.0817      0.247      0.331      0.741      -0.403       0.566
Employment.Length_4 years           0.0687      0.250      0.275      0.784      -0.422       0.559
Employment.Length_1 year           -0.0008      0.256     -0.003      0.997      -0.503       0.501
Employment.Length_6 years           0.0565      0.258      0.219      0.827      -0.450       0.563
Employment.Length_7 years           0.0301      0.277      0.109      0.913      -0.513       0.573
Employment.Length_8 years          -0.0522      0.293     -0.178      0.859      -0.627       0.522
==============================================================================
Omnibus:                       99.061   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.369
Skew:                           0.416   Prob(JB):                     1.11e-34
Kurtosis:                       4.087   Cond. No.                     7.20e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.2e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [18]:
vif = [variance_inflation_factor(x_train_new.values, i) for i in range(x_train_new.shape[1])]

In [19]:
list(zip(x_train_new.columns,vif))

[('const', 600.5977763595605),
 ('Amount.Requested', 1.6884941511241596),
 ('Debt.To.Income.Ratio', 1.3877036785078507),
 ('Monthly.Income', 1.477176690677716),
 ('Open.CREDIT.Lines', 1.3451066609912332),
 ('Revolving.CREDIT.Balance', 1.3842482919486563),
 ('Inquiries.in.the.Last.6.Months', 1.0779462802284037),
 ('fico', 1.181577159924854),
 ('Loan.Length_36 months', 1.301060458665705),
 ('Loan.Purpose_debt_consolidation', 11.343872438350404),
 ('Loan.Purpose_credit_card', 7.136744836363933),
 ('Loan.Purpose_other', 4.181198230947039),
 ('Loan.Purpose_home_improvement', 3.252537612634494),
 ('Loan.Purpose_major_purchase', 2.6530725310223215),
 ('Loan.Purpose_small_business', 2.5477592387144954),
 ('Loan.Purpose_car', 1.8631739796836584),
 ('Loan.Purpose_wedding', 1.6748579542072817),
 ('Loan.Purpose_medical', 1.5248921182158963),
 ('Loan.Purpose_moving', 1.485682132641911),
 ('State_CA', 3.1612260504341707),
 ('State_NY', 2.3879641914050618),
 ('State_TX', 1.943326310292955),
 ('State_FL', 1.9523217403830595),
 ('State_IL', 1.587788317906975),
 ('State_GA', 1.5552472888268933),
 ('State_PA', 1.5620104843042089),
 ('State_NJ', 1.5633358906567474),
 ('State_VA', 1.4278418552239118),
 ('State_MA', 1.4307753680234339),
 ('State_OH', 1.408583100956944),
 ('State_MD', 1.4299473984213082),
 ('State_NC', 1.3431334372515138),
 ('State_CO', 1.3339164436208122),
 ('State_WA', 1.3387353709586063),
 ('State_CT', 1.2849608873821263),
 ('State_AZ', 1.2734483828879726),
 ('State_MI', 1.2860007473514312),
 ('State_MN', 1.1953061434923324),
 ('State_AL', 1.2288661301043389),
 ('State_MO', 1.203376983609019),
 ('State_NV', 1.2160474182951388),
 ('State_OR', 1.1870012056464836),
 ('State_SC', 1.1614958455389401),
 ('State_WI', 1.1650240331232469),
 ('State_KY', 1.1144113593508644),
 ('State_LA', 1.149083506106254),
 ('State_OK', 1.1169083741303465),
 ('Home.Ownership_MORTGAGE', 3.7212583932521044),
 ('Home.Ownership_RENT', 3.657450827371382),
 ('Employment.Length_10+ years', 3.7178480496371695),
 ('Employment.Length_< 1 year', 2.271138577257874),
 ('Employment.Length_2 years', 2.342178109013597),
 ('Employment.Length_3 years', 2.264283470640226),
 ('Employment.Length_5 years', 2.079731179114282),
 ('Employment.Length_4 years', 2.0468456090589666),
 ('Employment.Length_1 year', 1.9882829750489024),
 ('Employment.Length_6 years', 1.9202162489386256),
 ('Employment.Length_7 years', 1.73342063047125),
 ('Employment.Length_8 years', 1.6010585517731297)]