In [ ]:
## build a stack regression model for loan data

In [1]:
import pandas as pd
import numpy as np
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import KFold, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import warnings 
warnings.filterwarnings('ignore')
from mypipes import *

In [2]:
file=r'/Users/lalitsachan/Dropbox/0.0 Data/census_income.csv'

cd= pd.read_csv(file)

In [3]:
cd.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,Y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
cd['Y']=(cd['Y']==' >50K').astype(int)

In [5]:
cd['Y'].value_counts()

0    24720
1     7841
Name: Y, dtype: int64

In [6]:
cd_train,cd_test=train_test_split(cd,test_size=0.2,random_state=2)

In [9]:
cd_train.reset_index(drop=True,inplace=True)
cd_test.reset_index(drop=True,inplace=True)

In [12]:
cat_vars=list(cd_train.select_dtypes(include=['object']).columns)

In [13]:
cat_vars=[_ for _ in cat_vars if _ not in ['Y','education']]

In [14]:
num_vars=list(cd_train.select_dtypes(exclude=['object']).columns)

In [15]:
p1=pdPipeline([
    ('cat_select',VarSelector(cat_vars)),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(300))
])

p2=pdPipeline([
    ('num_select',VarSelector(num_vars)),
    ('missing_trt',DataFrameImputer())
])

data_pipe=FeatureUnion([
    ('cat_pipe',p1),
    ('num_pipe',p2)
])

In [16]:
data_pipe.fit(cd_train)

FeatureUnion(transformer_list=[('cat_pipe',
                                pdPipeline(steps=[('cat_select',
                                                   VarSelector(feature_names=['workclass',
                                                                              'marital.status',
                                                                              'occupation',
                                                                              'relationship',
                                                                              'race',
                                                                              'sex',
                                                                              'native.country'])),
                                                  ('missing_trt',
                                                   DataFrameImputer()),
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=300))])),
                               ('num_pipe',
                                pdPipeline(steps=[('num_select',
                                                   VarSelector(feature_names=['age',
                                                                              'fnlwgt',
                                                                              'education.num',
                                                                              'capital.gain',
                                                                              'capital.loss',
                                                                              'hours.per.week',
                                                                              'Y'])),
                                                  ('missing_trt',
                                                   DataFrameImputer())]))])

In [17]:
x_train=pd.DataFrame(data=data_pipe.transform(cd_train),
                     columns=data_pipe.get_feature_names())
x_test=pd.DataFrame(data=data_pipe.transform(cd_test),
                     columns=data_pipe.get_feature_names())
y_train=cd_train['Y']
y_test=cd_test['Y']

In [18]:
clf1=KNeighborsClassifier(n_neighbors=50)
clf2=RandomForestClassifier(class_weight='balanced',n_estimators=200)
clf3=RandomForestClassifier(class_weight=None,n_estimators=100)
clf4=RandomForestClassifier(n_estimators=50)
clf5=RandomForestClassifier(n_estimators=10)

Algos=[clf1,clf2,clf3,clf4,clf5]

In [19]:
rows=x_train.shape[0]

In [20]:
rows

26048

In [23]:
layer1=pd.DataFrame({'clf'+str(i):np.zeros(rows) for i in range(1,len(Algos)+1)})

In [25]:
layer1.shape

(26048, 5)

In [26]:
kf=KFold(n_splits=10)

In [27]:
fold=1
for train,left_out_chunk in kf.split(x_train):
    print('fold number : ', fold)
    
    for i,clf in enumerate(Algos):
        print('Algo number :',i+1)
        
        x_train_train=x_train.loc[train]
        y_train_train=y_train[train]
        
        x_train_left_out_chunk=x_train.loc[left_out_chunk]
        
        
        clf.fit(x_train_train,y_train_train)
        p=clf.predict_proba(x_train_left_out_chunk)[:,1]
        
        layer1.iloc[left_out_chunk,i]=p
        
    fold+=1

fold number :  1
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  2
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  3
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  4
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  5
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  6
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  7
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  8
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  9
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5
fold number :  10
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
Algo number : 5

In [28]:
layer1

       clf1   clf2  clf3  clf4  clf5
0      0.16  0.000  0.00  0.00   0.0
1      0.12  0.000  0.00  0.00   0.0
2      0.10  0.000  0.00  0.00   0.0
3      0.18  0.000  0.01  0.00   0.0
4      0.20  0.000  0.01  0.00   0.0
5      0.30  0.000  0.00  0.00   0.0
6      0.16  0.995  1.00  1.00   1.0
7      0.32  0.995  1.00  1.00   1.0
8      0.16  0.005  0.00  0.00   0.0
9      0.28  0.000  0.00  0.00   0.0
10     0.24  0.995  1.00  1.00   1.0
11     0.14  0.010  0.02  0.04   0.0
12     0.20  0.000  0.01  0.00   0.0
13     0.18  0.010  0.02  0.00   0.0
14     0.10  0.000  0.00  0.00   0.0
15     0.20  0.980  1.00  0.94   1.0
16     0.10  0.035  0.05  0.06   0.0
17     0.22  0.000  0.00  0.00   0.0
18     0.30  0.995  1.00  1.00   1.0
19     0.16  0.980  0.96  0.96   0.9
20     0.14  0.015  0.03  0.04   0.0
21     0.20  0.000  0.00  0.00   0.0
22     0.22  0.000  0.00  0.00   0.0
23     0.12  0.015  0.01  0.00   0.0
24     0.22  0.000  0.00  0.00   0.0
25     0.24  0.000  0.00  0.00   0.0
26     0.32  0.000  0.00  0.00   0.0
27     0.34  0.000  0.00  0.00   0.0
28     0.46  0.000  0.00  0.00   0.0
29     0.92  0.995  0.99  1.00   1.0
...     ...    ...   ...   ...   ...
26018  0.32  0.005  0.00  0.00   0.0
26019  0.18  0.990  0.97  1.00   0.8
26020  0.16  0.005  0.01  0.04   0.0
26021  0.14  0.000  0.00  0.00   0.0
26022  0.30  0.975  0.96  0.98   1.0
26023  0.22  0.005  0.01  0.00   0.0
26024  0.20  0.000  0.00  0.00   0.0
26025  0.16  0.000  0.00  0.00   0.0
26026  0.16  0.000  0.00  0.00   0.0
26027  0.24  0.005  0.02  0.00   0.1
26028  0.14  0.955  0.97  0.94   0.9
26029  0.22  0.000  0.00  0.00   0.0
26030  0.20  0.000  0.00  0.00   0.0
26031  0.26  0.950  0.94  0.96   0.8
26032  0.76  0.975  0.99  0.98   0.9
26033  0.16  0.000  0.00  0.00   0.0
26034  0.20  0.010  0.00  0.00   0.0
26035  0.22  0.000  0.00  0.00   0.0
26036  0.10  0.920  0.94  0.94   0.7
26037  0.20  0.000  0.00  0.00   0.0
26038  0.20  0.000  0.00  0.00   0.0
26039  0.26  0.000  0.00  0.00   0.0
26040  0.12  0.000  0.00  0.02   0.0
26041  0.58  1.000  0.99  1.00   1.0
26042  0.08  0.000  0.00  0.00   0.0
26043  0.14  0.995  0.98  0.98   1.0
26044  0.12  0.010  0.01  0.00   0.0
26045  0.32  0.950  0.93  0.96   1.0
26046  0.14  0.000  0.00  0.00   0.0
26047  0.26  0.000  0.00  0.00   0.0

[26048 rows x 5 columns]

In [29]:
rows=x_test.shape[0]
layer2_test=pd.DataFrame({'clf'+str(i):np.zeros(rows) for i in range(1,len(Algos)+1)})

In [32]:
layer2_test.shape

(6513, 5)

In [33]:
for i,clf in enumerate(Algos):
    
    print( 'Algo number',i+1)
    clf.fit(x_train,y_train)
    p=clf.predict_proba(x_test)[:,1]
    
    layer2_test.iloc[:,i]=p

Algo number 1
Algo number 2
Algo number 3
Algo number 4
Algo number 5

In [35]:
# layer2_test

In [36]:
# second layer linear model 
logr=LogisticRegression(class_weight='balanced')

In [37]:
logr.fit(layer1,y_train)

LogisticRegression(class_weight='balanced')

In [38]:
roc_auc_score(y_test,logr.predict_proba(layer2_test)[:,1])

1.0

In [39]:
xgb2=XGBClassifier(objective='binary:logistic',n_estimators=100,
                   max_depth=3,learning_rate=.1,scale_pos_weight=3)

In [40]:
xgb2.fit(layer1,y_train)

XGBClassifier(scale_pos_weight=3)

In [41]:
roc_auc_score(y_test,xgb2.predict_proba(layer2_test)[:,1])

1.0