In [1]:
import pandas as pd
import numpy as np

from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
class DataFrameImputer(BaseEstimator,TransformerMixin): # impute missing values

    def __init__(self):

        self.impute_dict={}
        self.feature_names=[]

    def fit(self, X, y=None):

        self.feature_names=X.columns

        for col in X.columns:
            if X[col].dtype=='O':
                self.impute_dict[col]='missing'
            else:
                self.impute_dict[col]=X[col].median()
        return self

    def transform(self, X, y=None):
        return X.fillna(self.impute_dict)

    def get_feature_names(self):

        return self.feature_names

In [18]:
d=pd.DataFrame({'age':[20,15,np.nan,30,35,40],
                'city':['delhi',np.nan,'pune','delhi','hyderabad','agra']})
d

    age       city
0  20.0      delhi
1  15.0        NaN
2   NaN       pune
3  30.0      delhi
4  35.0  hyderabad
5  40.0       agra

In [4]:
a=DataFrameImputer()

In [5]:
a.impute_dict

{}

In [6]:
a.feature_names

[]

In [7]:
a.get_feature_names()

[]

In [8]:
a.fit(d)

DataFrameImputer()

In [16]:
a.impute_dict

{'age': 30.0, 'city': 'missing'}

In [10]:
a.get_feature_names()

Index(['age', 'city'], dtype='object')

In [11]:
d1=pd.DataFrame({'age':[10,15,np.nan],
                'city':[np.nan,'delhi','chennai']})

In [12]:
a.transform(d1)

    age     city
0  10.0  missing
1  15.0    delhi
2  30.0  chennai

In [13]:
a.transform(d)

    age       city
0  20.0      delhi
1  15.0    missing
2  30.0       pune
3  30.0      delhi
4  35.0  hyderabad
5  40.0       agra