# 1

In [1]:
import pandas as pd
from mypipes_exercise import *
from sklearn.pipeline import FeatureUnion
import warnings
warnings.filterwarnings('ignore')

In [2]:
# modify path as per location of the file on your machine
train_file=r'/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P1/Consumer_Complaints_train.csv'
data_train=pd.read_csv(train_file)
data_train.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,2014-05-15,Credit card,NaN,Billing statement,NaN,NaN,NaN,Wells Fargo & Company,MI,48342,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103
1,2014-09-18,Bank account or service,(CD) Certificate of deposit,"Making/receiving payments, sending money",NaN,NaN,NaN,Santander Bank US,PA,18042,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666
2,2014-03-13,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Equifax,CA,92427,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363
3,2015-07-17,Credit card,NaN,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",Company chooses not to provide a public response,U.S. Bancorp,GA,305XX,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177
4,2014-11-20,Credit card,NaN,Transaction issue,NaN,NaN,NaN,Bank of America,MA,02127,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572

In [3]:
data_train.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [4]:
date_cols=['Date received','Date sent to company']

In [5]:
p1=pdPipeline([
    ('date_select',VarSelector(date_cols)),
    ('convert_to_date',convert_to_datetime()),
    ('date_diff',date_diff_days())
])

p2=pdPipeline([
    ('date_select',VarSelector(date_cols)),
    ('convert_to_date',convert_to_datetime()),
    ('cyclic_features',cyclic_features())
])

data_pipe=FeatureUnion([
    ('p1',p1),
    ('p2',p2)
])

# for the project , data pipe will be combining 
# multiple other pipelines 
# too for numeric data , text data , categorical data etc

In [6]:
data_pipe.fit(data_train)

FeatureUnion(transformer_list=[('p1',
                                pdPipeline(steps=[('date_select',
                                                   VarSelector(feature_names=['Date '
                                                                              'received',
                                                                              'Date '
                                                                              'sent '
                                                                              'to '
                                                                              'company'])),
                                                  ('convert_to_date',
                                                   convert_to_datetime()),
                                                  ('date_diff',
                                                   date_diff_days())])),
                               ('p2',
                                pdPipeline(steps=[('date_select',
                                                   VarSelector(feature_names=['Date '
                                                                              'received',
                                                                              'Date '
                                                                              'sent '
                                                                              'to '
                                                                              'company'])),
                                                  ('convert_to_date',
                                                   convert_to_datetime()),
                                                  ('cyclic_features',
                                                   cyclic_features())]))])

In [7]:
x_train_partial=pd.DataFrame(data=data_pipe.transform(data_train),
                             columns=data_pipe.get_feature_names())

In [8]:
x_train_partial.head()

,p1__date_diff,p2__Date received_week_sin,p2__Date received_week_cos,p2__Date received_month_sin,p2__Date received_month_cos,p2__Date received_month_day_sin,p2__Date received_month_day_cos,p2__Date sent to company_week_sin,p2__Date sent to company_week_cos,p2__Date sent to company_month_sin,p2__Date sent to company_month_cos,p2__Date sent to company_month_day_sin,p2__Date sent to company_month_day_cos
0,-1.0,0.433884,-0.900969,0.5,-8.660254e-01,0.101168,-0.994869,-0.433884,-0.900969,0.500000,-8.660254e-01,-0.101168,-0.994869
1,-6.0,0.433884,-0.900969,-1.0,-1.836970e-16,-0.485302,-0.874347,0.974928,-0.222521,-1.000000,-1.836970e-16,-0.988468,0.151428
2,-21.0,0.433884,-0.900969,1.0,6.123234e-17,0.485302,-0.874347,0.433884,-0.900969,0.866025,-5.000000e-01,0.571268,0.820763
3,0.0,-0.433884,-0.900969,-0.5,-8.660254e-01,-0.299363,-0.954139,-0.433884,-0.900969,-0.500000,-8.660254e-01,-0.299363,-0.954139
4,-8.0,0.433884,-0.900969,-0.5,8.660254e-01,-0.790776,-0.612106,-0.433884,-0.900969,-0.500000,8.660254e-01,-0.571268,0.820763

# 2

In [9]:
train_file=r'/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P5/Property_train.csv'
test_file=r'/Users/lalitsachan/Dropbox/March onwards/PDS V2/Projects/P5/Property_test_share.csv'

In [10]:
train_data=pd.read_csv(train_file)
test_data=pd.read_csv(test_file)

In [11]:
train_data.head()

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0

In [12]:
date_col=['ListDate']
target=['Junk']

In [13]:
cat_cols=train_data.select_dtypes(['object']).columns

In [14]:
cat_cols=[temp for temp in cat_cols if 'Price' not in temp]
# since all priceindex columns are actually numeric

In [15]:
cat_cols.remove(date_col[0])

In [16]:
cat_cols

['InteriorsStyle',
 'Material',
 'Agency',
 'AreaIncomeType',
 'EnvRating',
 'PRIMEUNIT',
 'Channel',
 'PlotType',
 'Architecture',
 'Region',
 'SubModel',
 'Facade',
 'State',
 'RegionType']

In [17]:
num_cols=train_data.columns

In [18]:
num_cols=[temp for temp in num_cols if temp not in date_col+cat_cols+target]

In [19]:
num_cols

['PriceIndex8',
 'PriceIndex9',
 'PriceIndex7',
 'ExpeditedListing',
 'PriceIndex4',
 'PriceIndex1',
 'PriceIndex6',
 'Zip',
 'InsurancePremiumIndex',
 'PriceIndex3',
 'PriceIndex5',
 'NormalisedPopulation',
 'BuildYear',
 'PropertyAge',
 'PriceIndex2']

In [20]:
num_cols.remove('Zip')
cat_cols.append('Zip')
# since 'Zip' is categorical although containing integer encoding

In [21]:
train_data.shape

(62035, 31)

In [22]:
train_data['Zip'].isnull().sum()

0

In [23]:
p1=pdPipeline([
    ('date_select',VarSelector(date_col)),
    ('convert_to_datetime',convert_to_datetime()),
    ('cyclic_features',cyclic_features())
])
p2=pdPipeline([
    ('cat_select',VarSelector(cat_cols)),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(500))
    ])
p3=pdPipeline([
    ('num_cols',VarSelector(num_cols)),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])
# this imputation will be incorrect if 'Zip' has any missing values 
    # as the column is numeric coded categorical 
    # class will impute with median which is not right 
    # it wont make a difference here because of 'Zip' incidentally has no missing values

In [24]:
data_pipe=FeatureUnion([
    ('date_pipe',p1),
    ('cat_pipe',p2),
    ('num_pipe',p3)
])

In [25]:
data_pipe.fit(train_data)

FeatureUnion(transformer_list=[('date_pipe',
                                pdPipeline(steps=[('date_select',
                                                   VarSelector(feature_names=['ListDate'])),
                                                  ('convert_to_datetime',
                                                   convert_to_datetime()),
                                                  ('cyclic_features',
                                                   cyclic_features())])),
                               ('cat_pipe',
                                pdPipeline(steps=[('cat_select',
                                                   VarSelector(feature_names=['InteriorsStyle',
                                                                              'Material',
                                                                              'Agency',
                                                                              'AreaIncomeType',
                                                                              'EnvRating',
                                                                              'PRIMEUN...
                                pdPipeline(steps=[('num_cols',
                                                   VarSelector(feature_names=['PriceIndex8',
                                                                              'PriceIndex9',
                                                                              'PriceIndex7',
                                                                              'ExpeditedListing',
                                                                              'PriceIndex4',
                                                                              'PriceIndex1',
                                                                              'PriceIndex6',
                                                                              'InsurancePremiumIndex',
                                                                              'PriceIndex3',
                                                                              'PriceIndex5',
                                                                              'NormalisedPopulation',
                                                                              'BuildYear',
                                                                              'PropertyAge',
                                                                              'PriceIndex2'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_trt',
                                                   DataFrameImputer())]))])

In [26]:
x_train=pd.DataFrame(data=data_pipe.transform(train_data),
                             columns=data_pipe.get_feature_names())
x_test=pd.DataFrame(data=data_pipe.transform(test_data),
                             columns=data_pipe.get_feature_names())

In [27]:
x_train.shape

(62035, 195)

In [29]:
x_test.shape

(10948, 195)